[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
numpy = "*"
python-language-server = "*"
pyserial = "*"
pyqt5 = "*"
pyqtgraph = "*"
PyQtDataVisualization = "*"
matplotlib = "*"
pandas = "*"
joblib = "*"

[requires]
python_version = "3.8"
