[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
numpy = "*"
python-language-server = "*"
pyserial = "*"
pyqt6 = "*"
pyqtgraph = "*"

[dev-packages]

[requires]
python_version = "3.8"
